<div class="span6 feedback-detail">
  <h4><%= item.content %></h4>
  <p class="date"><%= l item.created_at, :format => :long %></p>
  <p><span class="reply">回复：</span>不可以，我们只默认记录你的设备号跟账户二取其一。不同设备
之间用同一账户是可以访问问的。</p>
</div>