<% content_for :styles do %>
  <%= stylesheet_link_tag "questions" %>
<% end %>

<%= raw SiteConfig.question_caption_html %>

<div class="box">
  <div class="container">
    <%= render_apps(@questions, 2, "question") %>
    
  </div>
</div>


