<div class="intro-head">
  <div class="container intro-detail">
    <h2>关于我们</h2>
    <section>
      <p>法信——致力于成为全球最大的中国法律移动服务平台。法信 法律 图书馆 司法 考试 中国 法规 判例 司法 解释 部门 规章 地方法 法信移动服务平台通过服务模式的创新，服务资源的整合，服务手段的多样化全覆盖，提出了全信的法律移动服务平台。</p>
    </section>
  </div> 
</div>

<div class="container about-intro">
  <h2>小伙伴们:</h2>
  <div class="avatar">
    <% 7.times do %>
      <%= image_tag "about_bg.png", class: "avatar-image" %>
    <% end %>
  </div>
  
</div> 