<div class="banner-container">
  <div class="container">
    <div class="row">
      <div class="span6">
        
      </div>
      <div class="span3">
        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= raw SiteConfig.jumbotron_html %>
</div>
