<div class="span4 app-detail">
  <%= link_to image_tag(item.icon.url(:big), :class => "app-icon"), item %>
  <h2><%= item.name %></h2>
  <p>发布时间：<%= l item.created_at, :format => :long %></p>
  <p><%= truncate(item.description, :length => 30) %></p>
</div>