<% content_for :styles do %>
  <%= stylesheet_link_tag "apps" %>
<% end %>

<div class="intro-head">
  <div class="container intro-detail">
    <%= raw SiteConfig.product_head_html %>
  </div> 
</div>

<div class="container apps movedown-90">
  <div class="row">
    <%= render @app_infos %>
  </div>
</div>