<% content_for :styles do %>
  <%= stylesheet_link_tag "apps" %>
<% end %>

<div class="caption">
  <h2>产品与服务</h2>
</div>

<div id="product" class="box">
  <div class="container">
    <% if @apps.any? %>
    <div class="apps">
      <h4>我们一直致力与做出更好用的应用</h4>
      <%= render_apps(@apps) %>
    </div>
    <% end %>
  <% if @games.any? %>
    <div class="games">
      <h4>我们也做一些游戏，但绝不是玩玩而已</h4>
      <%= render_apps(@games) %>
    </div>
  <% end %>
  </div>
</div>


