<% content_for :sitemap do %>
  <span class="current">应用详细</span>
<% end %>
<div class="app">
  <p><strong>应用名：</strong><%= @app.name %></p>
  <p><strong>应用描述：</strong><%= @app.description %></p>
</div>
