/*
 *= require bootstrap
 *= require_self
 */

html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 60px;
}

.navbar-fixed-top {
  background: white;
}

footer {
  background: rgb(23,23,23);
  color: #ccc;
  padding-top: 15px;
  margin-top: 10px;
  .copyright {
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #ccc;
  }
  
  a {
    color: #ccc;
  }
  &:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
