$navbarBackground: white;
$navbarBackgroundHighlight: white;
$navbarText: black;
$navbarBrandColor: black;
$navbarLinkColor: black;
$navbarLinkColorHover: rgb(45,175,82);
$navbarLinkColorActive: $navbarLinkColorHover;
$textColor: black;
//$navbarLinkBackgroundHover: green;
//$navbarLinkBackgroundActive: green;
//$navbarSearchBackground
//$navbarSearchBackgroundFocus
//$navbarSearchBorder
//$navbarSearchPlaceholderColor
//$navbarCollapseWidth
//$navbarCollapseDesktopWidth

@import "bootstrap";
/*
 *= require_self
 */

/* GLOBAL STYLES
----------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  height: 100%;
}

body {
  height: 100%;
  color: #5a5a5a;
  font-family: Arial,Helvetica,sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.green {
  color: rgb(45,175,82);
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push {
  height: 60px;
}

.navbar {
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
}

.navbar-inner {
  background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#footer {
  height: 60px;
//  background-color: #f5f5f5;
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  .container {
    width: auto;
    border-top: 1px solid #ccc;
    max-width: 940px;
  }
  .container .credit {
    margin: 20px 0;
  }
}     
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* CUSTOMIZE THE NAVBAR 
------------------------------------------------------ */

///* Special class on .container surrounding .navbar, used for positioning it into place. */
//.navbar-wrapper {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 10;
//  margin-top: 20px;
//  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
//}
//
//.navbar-wrapper .navbar {
//}
//
///* Remove border and change up box shadow for more contrast */
//.navbar .navbar-inner {
//  border: 0;
//  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
//     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
//          box-shadow: 0 2px 10px rgba(0,0,0,.25);
//}
//
///* Downsize the brand/project name a bit */
//.navbar .brand {
//  padding: 16px 20px 16px; /* Increase vertical padding to match navbar links */
//  font-size: 16px;
//  font-weight: bold;
//  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
//}
//
///* Navbar links: increase padding for taller navbar */
//.navbar .nav > li > a {
//  padding: 15px 20px;
//}
//
///* Offset the responsive button for proper vertical alignment */
//.navbar .btn-navbar {
//  margin-top: 10px;
//}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
//$box-shadow-color: #bbb;
//.carousel-container {
//  background: rgb(254,254,254);//hsv(0, 45,85);//rgb(31,136,136);
//  -webkit-box-shadow: 0px 2px 6px $box-shadow-color;
//  -moz-box-shadow: 0px 2px 6px $box-shadow-color;
//  box-shadow: 0px 3px 5px $box-shadow-color;
//}

/* Carousel base class */
.carousel {
//  width: 80%;
  width: 940px;
  margin: 0 auto;
//  margin-bottom: 40px;
  
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel .left {
    left:20px;
}

.carousel .right {
  right: 20px;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 369px;
  a {
    text-decoration: none;
  }
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
//  width: 940px;
  height: 369px;
}

.carousel-caption {
  display: none;
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 240px;
  margin-left: 50px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
//  text-align: center;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* Main marketing message and sign up button */
.jumbotron {
//  margin-top: 20px;
  background: rgb(239,238,235);
  margin-top: -20px;
  padding: 20px 20px 10px 20px;
  border: 1px solid #ccc;
//  border-top: none;
//  text-align: center;
  h1 {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead {
    font-size: 20px;
    line-height: 1.25;
  }
  //.btn {
//      font-size: 21px;
//      padding: 14px 24px;
//  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}

//footer {
//  color: /*#5a5a5a*/rgb(153,153,153);
//  padding-top: 15px;
//  margin-top: 10px;
//  background: rgb(42,42,42);
//  .container {
//    //border-top: 1px solid #ccc;
//    padding-top: 20px;
//  }
//  .copyright {
//    margin-top: 20px;
//    text-align: center;
//    padding-top: 15px;
//    border-top: 1px solid rgb(60,60,60);
//  }
//  
//  .share-btn {
//    width: 48px;
//    height: 48px;
//    opacity: 1;
//    transition: opacity .25s ease-in-out;
//    -moz-transition: opacity .25s ease-in-out;
//    -webkit-transition: opacity .25s ease-in-out;
//    &:hover {
//      opacity: 0.5;
//    };
//  }
//  
//  a {
//    color: /*#5a5a5a*/rgb(153,153,153);
//    &:hover {
//      color:white;
//    }
//  }
//}
