.apps {
  > h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
  .row {
    border: 0;
  }
}

.app-info {
  img {
//    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  ul {
    padding-top: 10px;
    margin-left: 130px;
    li {
      padding-bottom: 2px;
    }
  }
}