#product {
//  padding-bottom: 60px;
  h4 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 30px;
  }
  .apps {
    border-bottom: 1px solid #ccc;
  }
  .games {
    padding-top: 30px;
  }
}

.app-detail {
  padding-bottom: 20px;
  h2 {
//    font-weight: normal;
    font-size: 14px;
  }
  p {
    color: #999;
  }
  .app-icon {
//    text-align: center;
//    width: inherit;
//    height: 130px;
  }
}