.apps {
  > h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
  .row {
    border: 0;
  }
}

.app-info {
  section {
    .quote {
      font-size: 60;
      font-weight: bold;
    }
  }
  
  img {
//    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  ul {
    padding-top: 10px;
    margin-left: 130px;
    li {
      padding-bottom: 2px;
    }
  }
}

.app-info-cell {
  margin-top: 20px;
  margin-bottom: -20px;
  .app-info-screenshot {
    padding: 20px 0;
    .container-centered {
      //display: table;
//      width: 100%;
      .centered {
        text-align: center;
      }
      .centered:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -0.25em;
        vertical-align: middle;
      }
    }
    
  }
  .app-info-screenshot-0 {
    background: #eee;
  }
  
}

.app-info-screenshot:before, .description {
  display: inline-block;
  vertical-align: middle;
}

.app-info-screenshot:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}