/*
 *= require application
 *= require_self
 */

body {
  padding-top: 60px;
}

.suggest {
  text-align:center;
  color: black;
  a {
    color: black;
  }
}

.header-list {
  margin-bottom: 10px;
}

footer {
  background: white;
}
