/*
 *= require application
 *= require_self
 */

.caption {
  background: rgb(83,83,83);
  height: 80px;
  h2 {
    color: white;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }
}

.box {
  padding-top: 30px;
  padding-bottom: 60px;
}

.latest-questions {
  h1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }
  padding: 20px 0;
  .question-detail {
    h4 {
      font-size: 16px;
      padding: 5px 0;
    }
    p {
      font-size: 14px;
      color: gray;
    }
  }
}
