/*
 *= require application
 *= require_self
 */

.home-app-list {
  margin-bottom: 40px;
  text-align: center;
  .img-circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}

.movedown-90
{
  margin-top: 90px;
}

#myCarousel {
  margin-bottom: 30px;
}

.intro-head {
  background: image-url('about_bg.png');
  height: 300px;
  padding-top: 90px;
  .intro-detail {
    h2 {
      border: 1px solid #ccc;
      border-left: 0;
      border-right: 0;
      padding: 5px 0 5px 10px;
      color: white;
      font-size: 30;
    }
    .app-download-url {
      padding-left: 20px;
      margin-top: 150px;
      .img-url {
        width:248px;
        height: 66px;
      }
      .app-url {
        margin-right: 30px;
      }
    }
    section {
      margin-top: 70px;
      p {
        font-size: 20px;
        color: rgb(210,210,210);
        line-height: 1.5em;
        text-indent: 2em;
        padding:0 20px;
      }
    }
  }
}

.about-intro {
  padding-top: 20px;
  padding-bottom: 10px;
  .avatar {
    margin-top: 20px;
    padding-left: 65px;
    .avatar-image {
      width: 120px;
      height: 120px;
      margin-bottom: 15px;
      margin-right: 15px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}