/*
 *= require application
 *= require_self
 */

.caption {
  background: rgb(83,83,83);
  height: 80px;
  h2 {
    color: white;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }
}

.box {
  padding-top: 30px;
}
