.feedback-detail {
  h4 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  p {
    color: #999;
  }
  .date {
    padding-top: 10px;
  }
  .reply {
    color: rgb(45,175,82);
  }
}