<div id="footer">
  <div class="container">
    <div class="credit">
      <p class="pull-left">
        Copyright &copy; <%= Time.now.year %> <%= Setting.app_name %> Studio. All Rights Reserved 
      </p>
      <div class="pull-right"><%= raw SiteConfig.share_html %></p>
    </div>
    
  </div>
</div>